@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  min-width: fit-content;
}

.headercontainer {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/outsidejacks.jpg");
  background-size: cover;
  background-position: center;
}

.headerbg {
  background-image: url("/gyj.png");
  background-size: cover;
}

.menu-container {
  position: fixed;
  bottom: 120px;
  right: 80px;
  z-index: 1000;
  transform: rotate(10deg) translate(-20px, -20px);
}

.menu-stack {
  width: 160px; /* Updated size */
  height: 160px; /* Updated size */
  background-color: #fff; /* Or any other color */
  border: 1px solid #ddd; /* Optional */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  position: absolute;
  border-radius: 10px; /* Rounded corners */
}

/* Adjust rotation and translation for larger size */
.menu-stack:nth-child(1) {
  top: 20px;
  transform: rotate(-20deg) translate(-50px, -30px);
}
.menu-stack:nth-child(2) {
  transform: rotate(-37deg) translate(-45px, -15px);
}
.menu-stack:nth-child(3) {
  transform: rotate(-10deg) translate(-45px, -5px);
}
.menu-icon {
  position: fixed;
  right: 500px;
  z-index: 2000; /* Ensure the menu icon is above the stacks */
}

.menu-one {
  background-image: url("/menuone.png");
  background-size: cover;
  z-index: 2000;
}

.bgClip {
  background-image: url("/woodtexture.png"),
    linear-gradient(to right, #f0f0f0 0%, #ffffff 100%);
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px; /* Adjust as needed for visibility */
  font-weight: bold; /* Bold text often works better */
}

.instapic {
  height: 400px;
  width: auto;
}
.menuSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px; /* Adjust padding as needed */
}

.book {
  background-color: #fff;
  width: 75%; /* Adjust based on your layout preference */
  height: 900px; /* Fixed height, remove padding-top if not using for aspect ratio */
  position: relative; /* For absolute positioning of children */
  overflow: hidden; /* Keep everything contained */
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain; /* Or cover, depending on your preference */
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
}

.instacontainer {
  position: relative;
  border: 70px solid transparent;
  border-image: url("/laceborder.png") 25 round;
  box-shadow: inset 10p 0px 10px rgba(0, 0, 0, 0.4);
}

.instacontainer::before {
  content: "";
  position: absolute;
  top: -10px; /* Extend beyond the container to avoid clipping the shadow */
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  box-shadow: 0 8px 75px rgba(0, 0, 0, 0.7); /* Customize this to get the desired shadow effect */
  border-radius: inherit; /* If your container has rounded corners */
}
